<div class="d-flex justify-content-center mt-4">
    <div id="commentCard" class="nes-container with-title">
        <p class="title">{{user.username}}, {{format_date created_at}}</p>
        <p>{{comment_text}}</p>
    </div>
</div>