<div id="postCard" class="d-flex justify-content-center">
    <div class="nes-container is-dark with-title">
        <p class="title">{{user.username}}, posted on {{format_date created_at}}</p>
        <p>{{post_title}}</p>
        <p class="mt-5">{{post_description}}</p>
        <div class="d-flex justify-content-center mt-5">
            <a id="loginBtn" class="nes-btn is-primary" href="#">* EDIT</a>
            <a id="loginBtn" class="nes-btn is-error" href="#">X DELETE</a>
        </div>
    </div>
</div>