<div id="postCard" class="d-flex justify-content-center">
    <div class="nes-container is-dark with-title">
        <p class="title">{{user.username}}, {{format_date created_at}}</p>
        <p>{{post_title}}</p>
        <p class="mt-5">{{post_description}}</p>
    </div>
</div>