<div class="d-flex justify-content-center mt-4 p-4">
    <div class="cont-prim">
        <!-- button to add comments -->
        <p>
            <button class="nes-btn is-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                + Add Comment
            </button>
        </p>
        <!-- collapse box -->
        <div class="collapse mt-4" id="collapseExample">
            <div class="">
                <form>
                    <div>
                        <label for="textarea_field">Enter a comment</label>
                        <textarea id="textarea_field" class="nes-textarea"></textarea>
                    </div>
                    <button id="comment-submitBtn" type="submit" class="nes-btn is-success mt-3">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>