:root {
    --bg: rgb(220, 231, 217);
    --dk: rgb(43, 42, 46);
    ;

}

* {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    box-sizing: border-box;
    transition: .1ms;

}

body {
    background-color: var(--bg);
}

nav {
    background-color: var(--dk);
}

.nes-input, .nes-btn {
    border-image-repeat: revert;
}